body {
    background-color: #beb8a8;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #214b38;
}

.navLink {
    text-decoration: none;
    padding: 30px;
    color: #FFF;
    font-size: 20px;
}

.btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0px 70px;
}

.btn {
    background-color: #214b38;
    color: #FFF;
    font-size: 15px;
    text-transform: uppercase;
    padding: 7px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.productBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productCard {
    padding: 30px;
}

.productImg {
    border: #214b38 2px solid;
    border-radius: 5px;
}

.heading {
    text-align: center;
    font-size: 54px;
    font-family: 'Inspiration', cursive;
}

h2, h3, p, nav, button, a {
    font-family: 'Slabo 27px', serif;
    color: #000;
}

.contactBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactTxt {
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}

.timeTxt h3, .timeTxt p {
    text-align: center;
}

.timeTxt {
    margin: 50px 100px;
}

.txt {
    display: flex;
    margin: 50px 100px;
}

.txtAbout {
    font-size: 20px;
    margin: 50px 100px;
}

.aboutPicBox {
    text-align: center;
    margin-bottom: 50px;
}

.aboutPic {
    border: #214b38 7px solid;
    border-radius: 10px;
}

.aboutBox {
    display: flex;
    flex-direction: column;
}

.showBtn {
    text-transform: uppercase;
    background-color: transparent;
    border: #214b38 2px solid;
    border-radius: 5px;
}

.aboutBtns {
    display: flex;
}

.aboutBtn {
    text-transform: uppercase;
    background-color: #214b38;
    border: none;
    padding: 5px;
    margin: 3px;
    flex: 1;
    color: #FFF;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}

@media all and (max-width: 820px) {
    .contactBox, .txt {
        flex-wrap: wrap;
    }

    .timeTxt, .contactTxt, .txtAbout {
        margin: 20px;
    }
}

@media all and (max-width: 480px) {
    img {
        max-width: 95%;
        height: auto;
        margin: 5px;
    }

    .timeTxt, .contactTxt, .txtAbout, .txt {
        margin: 15px;
    }
}